@import "../../node_modules/bootstrap-css-only/css/bootstrap.min";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all";


$pathfinderRed: #5e0000;
$pathfinderGold: #dcb07b;

$darkGreen: #3e4f54;
$title: #000000;
$traitForeground: #FFF;
$traitBackground: $pathfinderRed;
$powerRed: #8b1c1b;
$darkGreen: #3e4f54;
$uncommonRarity: #8b1c1b;
$rareRarity: #e75722;
$uniqueRarity: #25408f;


.selectedSpell .spellDetail {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
.spellDetail {
    > div, > ul {
        padding-left: 5px;
        padding-right: 5px;
    }

    .title {
        color: $title;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 1px solid $title;
        padding-bottom: 2px;

        .spellClass {
            display: inline-block;
            float: right;

            .bookmark {
                display: inline-block;
                padding: 0 10px 0 0;

                &.active {
                    color: purple;
                }
            }
        }
    }

    .traits {
        display: block;

        li {
            display: inline-block;
            color: $traitForeground;
            background-color: $traitBackground;
            border-top: 1px solid $pathfinderGold;
            border-bottom: 1px solid $pathfinderGold;
            border-left: 3px solid $pathfinderGold;
            list-style: none;
            text-align: center;
            padding: 2px 10px 10px;
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;

            &:last-child {
                border-right: 3px solid $pathfinderGold;
            }
        }
    }

    .header {
        .castingToken, .headerElement {
            &::after {
                content: ", ";
            }

            &:last-child::after {
                content: "";
            }
        }

        .headerElement {
            &::after {
                content: "; ";
            }

            &:last-child::after {
                content: "";
            }
        }
    }

    .body {
        > div {
            margin-top: 2px;
            margin-bottom: 2px;

            strong::after {
                content: ": "
            }

            &.save {
                padding-left: 10px;

                strong::after {
                    content: " "
                }
            }

            &.option {
                display: list-item;
                list-style: circle inside none;
            }
        }
    }
}
@media (max-width: 575px) {
    .spellListList {
        max-height: 150px;
        overflow-y: scroll;
    }
}
.spell-list-item {
    text-transform: capitalize;

    .level {
        float: right;
        display: inline-block;
        color: white;
        padding: 0 3px;
        border-top-left-radius: 10px;
        margin-left: 3px;
        background: black;

        &.rarity-1 {
            background: $uncommonRarity;
        }

        &.rarity-2 {
            background: $rareRarity;
        }

        &.rarity-3 {
            background: $uniqueRarity;
        }
    }

    .powerTypes span {
        text-transform: capitalize;

        &:after {
            content: ", "
        }

        &:last-child:after {
            content: ""
        }
    }
}
.spell-search {
    select, select option {
        text-transform: capitalize;
    }
    
    .criteria, .sort {
        label {
            min-width: 90px;
        }

        .form-row {
            padding-bottom: 10px;
        }
    }

    .levels {
        .level-row {
            display: flex;
            width: 100%;

            .level-col {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
                padding: 3px;
                text-align: center;

                input[type=checkbox] {
                    display: none;

                    + label {
                        min-width: 42px;
                        text-align: center;
                        background-color: #fafafa;
                        border: 1px solid #cacece;
                        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
                        padding: 9px;
                        border-radius: 3px;
                        display: inline-block;
                        position: relative;
                    }

                    &:checked + label {
                        background-color: #FFFF00;
                        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
                    }
                }
            }
        }
    }
}
.upgradeDetails {
    label { font-weight: bold; }
}
.quickRefs {
    display: flex;
    flex-wrap: wrap;
    .tile {
        width: 150px;
        height: 150px;
        border: 1px solid grey;
        border-radius: 5px;
        text-align: center;
        padding: 25px 0;
        margin: 10px;
        cursor: pointer;
        &:hover {
            background: #DDD;
        }
        .icon {
            font-size: 3em;
        }
        .label {

        }
    }
}
.dcTable {
    thead {
        th {
            background: white;
            position: sticky;
            top: 0;
            z-index: 10;
            width: 80px;
            text-align: center;
            border-bottom: 1px;

            &.level {
                width: 80px;
            }
        }
    }

    tbody {
        tr {
            &:nth-child(2n+1) {
                th, td {
                    background: #DDD;
                }
            }
            &.selected {
                th, td {
                    background: #FFFF00;
                }
            }

            th {
                text-align: right;
                padding-right: 10px;
            }

            td {
                text-align: center;
            }

            td, th {
                border: 3px solid white;
            }
        }
    }
}
.quickRefList {
    padding: 15px 0;

    .card-body {
        padding: 0.5rem;

        .card-subheading {
            padding: 5px 0 5px 10px;

            .card-subheading-title {
                font-weight: bold;

                &::after {
                    content: ": ";
                    font-weight: bold;
                }
            }
        }
    }
}
.spellListConfig {
    .spellListTable {
        td, th { 
            text-align: center; 
            &:first-child, &:last-child {
                text-align: left;
            }
        }
        .spellListRow {
            a.activeList {
                &, &:hover {
                    color: #e7711b;
                }
            }

            .actions {
                a {
                    margin-left: 10px;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .global-actions {
        button { 
            margin-left: 10px;
            &:first-child {
                margin-left: 0px;
            }
        }
    }
}

.randomNpc {
    .npcCard {
        margin-bottom: 20px;

        .card-header {
            text-align: center;
            font-weight: bold;

            button {
                font-weight: normal;
                position: absolute;
                top: 9px;
                right: 9px;
            }
        }
    }

    p {
        margin: 5px 0;
    }

    .alignmentGrid {
        text-align: center;
    }

    .abilityTable {
        margin: 0;

        tr:first-child {
            th, td {
                border-top: 0;
            }
        }

        td {
            text-align: right;
        }
    }
}